  
  .order-list-holder{
      min-height: 75vh;
      width: 75vw;
  }

  .order-list > thead{
      background-color: white;
  }

  .order-list > tbody > tr > td {
    padding: 12px 8px;

  }

  .order-status-waiting  {
    padding: 12px 8px;
    color:red
  }
  

    .order-status-ondelivery {
    padding: 12px 8px;
    color:green

  }


 .order-status-confirmed {
  padding: 12px 8px;
    color:orange

}